<tbody id="attendance-table-body">
        <!-- Loop para inserir os registros de frequência dos alunos na tabela -->
        {% for Pessoa in consulta %}
        <tr>
                <!-- Inserindo os dados de cada aluno na tabela -->
                <td>{{Pessoa[0]}}</td> <!-- ID do aluno -->
                <td>{{Pessoa[1]}}</td> <!-- Nome do aluno -->
                <td>{{Pessoa[2]}}</td> <!-- E-mail do aluno -->
                <td>{{Pessoa[3]}}</td> <!-- Contagem de dias -->
                <td>{{Pessoa[4]}}</td> <!-- Horas -->
        </tr>
            {% endfor %}
    </tbody>
    <!-- Importando o arquivo de scripts JavaScript para busca -->
    <script src="../static/js/search.js"></script>
    