<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Metadados e imports -->
</head>
<body>
    <!-- Conteúdo da página -->

    <!-- Div container principal -->
    <div class="container">
        <!-- Título da página e botões de download/impressão -->
        <h1>Registro de Frequência</h1>
        <!-- Botões para download em diferentes formatos -->
        <!-- Botão para baixar em formato XLS -->
        <button class='bot' id="download-btn-xls">Baixar XLS</button>
        <!-- Botão para baixar em formato XLSX -->
        <button class='bot' id="download-btn-xlsx">Baixar XLSX</button>
        <!-- Botão para baixar em formato CSV -->
        <button class='bot' id="download-btn-csv">Baixar CSV</button>
        <!-- Botão para imprimir a página -->
        <button class='bot' onclick="window.print()">Imprimir</button>

        <!-- Formulário de busca -->
        <div class="form-group">
            <!-- Input de busca -->
            <div class="input-container">
                <input type="text" id="search-input" name="search-input" placeholder="">
                <label for="search-input">Digite o nome do aluno</label>
                <!-- Botão de busca -->
                <button type='submit' class='search' id="search-btn">Buscar</button>
            </div>
        </div>

        <!-- Radio buttons para selecionar entre calouro e voluntário -->
        <div class="radio-buttons">
            <input type="radio" id="calouro" name="tipo" value="calouro">
            <label for="calouro">Calouro</label>
            <input type="radio" id="voluntario" name="tipo" value="voluntario">
            <label for="voluntario">Voluntário</label>
        </div>

        <!-- Tabela para exibir o registro de frequência dos alunos -->
        <table id="attendance-table">
            <thead>
                <!-- Cabeçalhos da tabela -->
                <tr>
                    <th>ID</th>
                    <th>Nome Completo</th>
                    <th>E-mail</th>
                    <th>Dias Comparecidos</th>
                    <th>Horas</th>
                </tr>
            </thead>
            <!-- Inclusão do conteúdo da tabela -->
            {% include "partials/atendimento_tabela.html" %}
        </table>
    </div>

    <!-- Scripts JavaScript -->
    <!-- Script para adicionar funcionalidades de download -->
    <script src="../static/js/download.js"></script>
    <!-- Script para adicionar funcionalidades de busca -->
    <script src="../static/js/search.js"></script>
</body>
</html>
