<!DOCTYPE html>
<html lang="pt-br">
<!-- Início do cabeçalho do documento -->
<head>
    <!-- Definições de metadados -->
    <!-- Definindo a codificação do documento para UTF-8 -->
    <meta charset="UTF-8">
    <!-- Definindo a compatibilidade do navegador -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Definindo a viewport para layout responsivo -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Definindo o título do documento -->
    <title>Registro de Frequência</title>
    <!-- Definindo o ícone da página -->
    <link rel="icon" type="image/x-icon" href="../static/img/Frequencia.png">
    <!-- Importando o arquivo de estilos CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<!-- Fim do cabeçalho do documento -->

<!-- Início do corpo do documento -->
<body>
    <!-- Container principal -->
    <div class="container">
        <!-- Título da página -->
        <h1>Registro de Frequência</h1>

        <!-- Formulário para registro de frequência -->
        <form id="attendance-form">
            <!-- Campo de entrada para o nome completo do aluno -->
            <div class="form-group">
                <div class="input-container">
                    <input type="text" id="student-name" name="student-name" placeholder="" required>
                    <label for="student-name">Nome Completo</label>
                </div>
            </div>
            <!-- Campo de entrada para o e-mail institucional do aluno -->
            <div class="form-group">
                <div class="input-container">
                    <input type="email" id="email" name="email" placeholder="" required>
                    <label for="email">E-mail Institucional</label>
                </div>
            </div>
            <!-- Radio buttons para selecionar o tipo de estudante -->
            <div class="form-group">
                <input type="radio" id="calouro" name="tipo" value="Calouro">
                <label for="calouro">Calouro</label>
                <input type="radio" id="voluntario" name="tipo" value="Voluntario">
                <label for="voluntario">Voluntário</label>
            </div>
            <!-- Botão para registrar a presença do aluno -->
            <button type="submit">Registrar Presença</button>
        </form>

        <!-- Tabela para exibir o registro de frequência dos alunos -->
        <table id="attendance-table">
            <thead>
                <!-- Cabeçalhos da tabela -->
                <tr>
                    <th>Nome do Aluno</th>
                    <th>E-mail</th>
                    <th>Contagem de dias</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                <!-- Os registros de frequência dos alunos serão inseridos aqui dinamicamente -->
            </tbody>
        </table>
    </div>
    <!-- Importando o arquivo de scripts JavaScript -->
    <script src="../static/js/script.js"></script>
</body>
<!-- Fim do corpo do documento -->

</html>
